# Credit Card - Good or Bad Risks

By Naeemah Aliya Small  - CellPhone: (520) 405-2724 - email: naeemahaz@gmail.com

The dataset classifies people described by a set of attributes as good or bad credit risks. (https://datahub.io/machine-learning/credit-g)

In [1]:
#import pandas, numpy, matplotlib, pickle and math

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
from math import pi

In [3]:
#import file by using pandas

In [4]:
data = pd.read_csv('credit.csv')

In [5]:
#look at the information

In [6]:
data.head(5)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad

In [7]:
data.isnull().all()  #no nulls

checking_status           False
duration                  False
credit_history            False
purpose                   False
credit_amount             False
savings_status            False
employment                False
installment_commitment    False
personal_status           False
other_parties             False
residence_since           False
property_magnitude        False
age                       False
other_payment_plans       False
housing                   False
existing_credits          False
job                       False
num_dependents            False
own_telephone             False
foreign_worker            False
class                     False
dtype: bool

In [8]:
data.describe()  #summary

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [9]:
dataf = pd.DataFrame(data)  #change data to dataframe

In [10]:
dataf.shape #look at dims

(1000, 21)

In [11]:
dataf.isnull().any()  #still not null.  cool beans

checking_status           False
duration                  False
credit_history            False
purpose                   False
credit_amount             False
savings_status            False
employment                False
installment_commitment    False
personal_status           False
other_parties             False
residence_since           False
property_magnitude        False
age                       False
other_payment_plans       False
housing                   False
existing_credits          False
job                       False
num_dependents            False
own_telephone             False
foreign_worker            False
class                     False
dtype: bool

In [12]:
dataf.head(5)  #look at the dataframe

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad

In [13]:
dataf['count'] = 1  #add a counter to the dataframe for future groupings

In [14]:
dataf.head()  #counter was added to back of the dataframe

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class,count
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,67,none,own,2,skilled,1,yes,yes,good,1
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,22,none,own,1,skilled,1,none,yes,bad,1
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,49,none,own,1,unskilled resident,2,none,yes,good,1
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,45,none,for free,1,skilled,2,none,yes,good,1
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,53,none,for free,2,skilled,2,none,yes,bad,1

# CLEAN DATA AND MODIFY

In [15]:
dataf['count']  # look at data column

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
      ..
970    1
971    1
972    1
973    1
974    1
975    1
976    1
977    1
978    1
979    1
980    1
981    1
982    1
983    1
984    1
985    1
986    1
987    1
988    1
989    1
990    1
991    1
992    1
993    1
994    1
995    1
996    1
997    1
998    1
999    1
Name: count, Length: 1000, dtype: int64

In [16]:
dataf.columns  #look at all columns

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class', 'count'],
      dtype='object')

In [17]:
datame = dataf[['checking_status','duration','credit_history','purpose','credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status','residence_since','age','housing', 'existing_credits', 'job', 'num_dependents','foreign_worker', 'class', 'count']]


#slice the dataframe

In [18]:
datame.head(100) #look at dataframe

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,residence_since,age,housing,existing_credits,job,num_dependents,foreign_worker,class,count
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,4,67,own,2,skilled,1,yes,good,1
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,2,22,own,1,skilled,1,yes,bad,1
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,3,49,own,1,unskilled resident,2,yes,good,1
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,4,45,for free,1,skilled,2,yes,good,1
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,4,53,for free,2,skilled,2,yes,bad,1
5,no checking,36,existing paid,education,9055,no known savings,1<=X<4,2,male single,4,35,for free,1,unskilled resident,2,yes,good,1
6,no checking,24,existing paid,furniture/equipment,2835,500<=X<1000,>=7,3,male single,4,53,own,1,skilled,1,yes,good,1
7,0<=X<200,36,existing paid,used car,6948,<100,1<=X<4,2,male single,2,35,rent,1,high qualif/self emp/mgmt,1,yes,good,1
8,no checking,12,existing paid,radio/tv,3059,>=1000,4<=X<7,2,male div/sep,4,61,own,1,unskilled resident,1,yes,good,1
9,0<=X<200,30,critical/other existing credit,new car,5234,<100,unemployed,4,male mar/wid,2,28,own,2,high qualif/self emp/mgmt,1,yes,bad,1
10,0<=X<200,12,existing paid,new car,1295,<100,<1,3,female div/dep/mar,1,25,rent,1,skilled,1,yes,bad,1
11,<0,48,existing paid,business,4308,<100,<1,3,female div/dep/mar,4,24,rent,1,skilled,1,yes,bad,1
12,0<=X<200,12,existing paid,radio/tv,1567,<100,1<=X<4,1,female div/dep/mar,1,22,own,1,skilled,1,yes,good,1
13,<0,24,critical/other existing credit,new car,1199,<100,>=7,4,male single,4,60,own,2,unskilled resident,1,yes,bad,1
14,<0,15,existing paid,new car,1403,<100,1<=X<4,2,female div/dep/mar,4,28,rent,1,skilled,1,yes,good,1
15,<0,24,existing paid,radio/tv,1282,100<=X<500,1<=X<4,4,female div/dep/mar,2,32,own,1,unskilled resident,1,yes,bad,1
16,no checking,24,critical/other existing credit,radio/tv,2424,no known savings,>=7,4,male single,4,53,own,2,skilled,1,yes,good,1
17,<0,30,no credits/all paid,business,8072,no known savings,<1,2,male single,3,25,own,3,skilled,1,yes,good,1
18,0<=X<200,24,existing paid,used car,12579,<100,>=7,4,female div/dep/mar,2,44,for free,1,high qualif/self emp/mgmt,1,yes,bad,1
19,no checking,24,existing paid,radio/tv,3430,500<=X<1000,>=7,3,male single,2,31,own,1,skilled,2,yes,good,1
20,no checking,9,critical/other existing credit,new car,2134,<100,1<=X<4,4,male single,4,48,own,3,skilled,1,yes,good,1
21,<0,6,existing paid,radio/tv,2647,500<=X<1000,1<=X<4,2,male single,3,44,rent,1,skilled,2,yes,good,1
22,<0,10,critical/other existing credit,new car,2241,<100,<1,1,male single,3,48,rent,2,unskilled resident,2,no,good,1
23,0<=X<200,12,critical/other existing credit,used car,1804,100<=X<500,<1,3,male single,4,44,own,1,skilled,1,yes,good,1
24,no checking,10,critical/other existing credit,furniture/equipment,2069,no known savings,1<=X<4,2,male mar/wid,1,26,own,2,skilled,1,no,good,1
25,<0,6,existing paid,furniture/equipment,1374,<100,1<=X<4,1,male single,2,36,own,1,unskilled resident,1,yes,good,1
26,no checking,6,no credits/all paid,radio/tv,426,<100,>=7,4,male mar/wid,4,39,own,1,unskilled resident,1,yes,good,1
27,>=200,12,all paid,radio/tv,409,>=1000,1<=X<4,3,female div/dep/mar,3,42,rent,2,skilled,1,yes,good,1
28,0<=X<200,7,existing paid,radio/tv,2415,<100,1<=X<4,3,male single,2,34,own,1,skilled,1,yes,good,1
29,<0,60,delayed previously,business,6836,<100,>=7,3,male single,4,63,own,2,skilled,1,yes,bad,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,no checking,36,existing paid,used car,8133,<100,1<=X<4,1,female div/dep/mar,2,30,own,1,skilled,1,yes,good,1
71,no checking,7,critical/other existing credit,radio/tv,730,no known savings,>=7,4,male single,2,46,rent,2,unskilled resident,1,yes,good,1
72,<0,8,critical/other existing credit,other,1164,<100,>=7,3,male single,4,51,for free,2,high qualif/self emp/mgmt,2,yes,good,1
73,0<=X<200,42,critical/other existing credit,business,5954,<100,4<=X<7,2,female div/dep/mar,1,41,own,2,unskilled resident,1,yes,good,1
74,<0,36,existing paid,education,1977,no known savings,>=7,4,male single,4,40,own,1,high qualif/self emp/mgmt,1,yes,bad,1
75,<0,12,critical/other existing credit,used car,1526,<100,>=7,4,male single,4,66,for free,2,high qualif/self emp/mgmt,1,yes,good,1
76,<0,42,existing paid,radio/tv,3965,<100,<1,4,male single,3,34,own,1,skilled,1,yes,bad,1
77,0<=X<200,11,delayed previously,radio/tv,4771,<100,4<=X<7,2,male single,4,51,own,1,skilled,1,yes,good,1
78,no checking,54,no credits/all paid,used car,9436,no known savings,1<=X<4,2,male single,2,39,own,1,unskilled resident,2,yes,good,1
79,0<=X<200,30,existing paid,furniture/equipment,3832,<100,<1,2,male mar/wid,1,22,own,1,skilled,1,yes,good,1
80,no checking,24,existing paid,radio/tv,5943,no known savings,<1,1,female div/dep/mar,1,44,own,2,skilled,1,yes,bad,1
81,no checking,15,existing paid,radio/tv,1213,500<=X<1000,>=7,4,male single,3,47,own,1,skilled,1,yes,good,1
82,no checking,18,existing paid,business,1568,100<=X<500,1<=X<4,3,female div/dep/mar,4,24,rent,1,unskilled resident,1,yes,good,1
83,<0,24,existing paid,other,1755,<100,>=7,4,female div/dep/mar,4,58,own,1,unskilled resident,1,yes,good,1
84,<0,10,existing paid,radio/tv,2315,<100,>=7,3,male single,4,52,own,1,unskilled resident,1,yes,good,1
85,no checking,12,critical/other existing credit,business,1412,<100,1<=X<4,4,female div/dep/mar,2,29,own,2,high qualif/self emp/mgmt,1,yes,good,1
86,0<=X<200,18,critical/other existing credit,furniture/equipment,1295,<100,<1,4,female div/dep/mar,1,27,own,2,skilled,1,yes,good,1
87,0<=X<200,36,existing paid,education,12612,100<=X<500,1<=X<4,1,male single,4,47,for free,1,skilled,2,yes,bad,1
88,<0,18,existing paid,new car,2249,100<=X<500,4<=X<7,4,male single,3,30,own,1,high qualif/self emp/mgmt,2,yes,good,1
89,<0,12,no credits/all paid,repairs,1108,<100,4<=X<7,4,male single,3,28,own,2,skilled,1,yes,bad,1
90,no checking,12,critical/other existing credit,radio/tv,618,<100,>=7,4,male single,4,56,own,1,skilled,1,yes,good,1
91,<0,12,critical/other existing credit,used car,1409,<100,>=7,4,male single,3,54,own,1,skilled,1,yes,good,1
92,no checking,12,critical/other existing credit,radio/tv,797,no known savings,>=7,4,female div/dep/mar,3,33,own,1,unskilled resident,2,yes,bad,1
93,>=200,24,critical/other existing credit,furniture/equipment,3617,no known savings,>=7,4,male single,4,20,rent,2,skilled,1,yes,good,1
94,0<=X<200,12,existing paid,new car,1318,>=1000,>=7,4,male single,4,54,own,1,skilled,1,yes,good,1
95,0<=X<200,54,no credits/all paid,business,15945,<100,<1,3,male single,4,58,rent,1,skilled,1,yes,bad,1
96,no checking,12,critical/other existing credit,education,2012,no known savings,4<=X<7,4,female div/dep/mar,2,61,own,1,skilled,1,yes,good,1
97,0<=X<200,18,existing paid,business,2622,100<=X<500,1<=X<4,4,male single,4,34,own,1,skilled,1,yes,good,1
98,0<=X<200,36,critical/other existing credit,radio/tv,2337,<100,>=7,4,male single,4,36,own,1,skilled,1,yes,good,1
99,0<=X<200,20,delayed previously,used car,7057,no known savings,4<=X<7,3,male single,4,36,rent,2,high qualif/self emp/mgmt,2,yes,good,1

ADDING A COLUMN USING THE INFORMATION FROM ANOTHER COLUMN

In [19]:
checkacct = []

for row in datame.checking_status:
    if row in ['no checking']:
        checkacct.append('no')
    else:
        checkacct.append('yes')
        
datame['checkacct'] = checkacct

C:\Users\Naeemah\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [20]:
datame.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,residence_since,age,housing,existing_credits,job,num_dependents,foreign_worker,class,count,checkacct
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,4,67,own,2,skilled,1,yes,good,1,yes
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,2,22,own,1,skilled,1,yes,bad,1,yes
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,3,49,own,1,unskilled resident,2,yes,good,1,no
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,4,45,for free,1,skilled,2,yes,good,1,yes
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,4,53,for free,2,skilled,2,yes,bad,1,yes

In [21]:
saveacct = []

for row in datame.savings_status:
    if row in ['no known savings']:
        saveacct.append('no')
    else:
        saveacct.append('yes')
        
datame['saveacct'] = saveacct

C:\Users\Naeemah\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [22]:
datame.head(100)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,residence_since,age,housing,existing_credits,job,num_dependents,foreign_worker,class,count,checkacct,saveacct
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,4,67,own,2,skilled,1,yes,good,1,yes,no
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,2,22,own,1,skilled,1,yes,bad,1,yes,yes
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,3,49,own,1,unskilled resident,2,yes,good,1,no,yes
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,4,45,for free,1,skilled,2,yes,good,1,yes,yes
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,4,53,for free,2,skilled,2,yes,bad,1,yes,yes
5,no checking,36,existing paid,education,9055,no known savings,1<=X<4,2,male single,4,35,for free,1,unskilled resident,2,yes,good,1,no,no
6,no checking,24,existing paid,furniture/equipment,2835,500<=X<1000,>=7,3,male single,4,53,own,1,skilled,1,yes,good,1,no,yes
7,0<=X<200,36,existing paid,used car,6948,<100,1<=X<4,2,male single,2,35,rent,1,high qualif/self emp/mgmt,1,yes,good,1,yes,yes
8,no checking,12,existing paid,radio/tv,3059,>=1000,4<=X<7,2,male div/sep,4,61,own,1,unskilled resident,1,yes,good,1,no,yes
9,0<=X<200,30,critical/other existing credit,new car,5234,<100,unemployed,4,male mar/wid,2,28,own,2,high qualif/self emp/mgmt,1,yes,bad,1,yes,yes
10,0<=X<200,12,existing paid,new car,1295,<100,<1,3,female div/dep/mar,1,25,rent,1,skilled,1,yes,bad,1,yes,yes
11,<0,48,existing paid,business,4308,<100,<1,3,female div/dep/mar,4,24,rent,1,skilled,1,yes,bad,1,yes,yes
12,0<=X<200,12,existing paid,radio/tv,1567,<100,1<=X<4,1,female div/dep/mar,1,22,own,1,skilled,1,yes,good,1,yes,yes
13,<0,24,critical/other existing credit,new car,1199,<100,>=7,4,male single,4,60,own,2,unskilled resident,1,yes,bad,1,yes,yes
14,<0,15,existing paid,new car,1403,<100,1<=X<4,2,female div/dep/mar,4,28,rent,1,skilled,1,yes,good,1,yes,yes
15,<0,24,existing paid,radio/tv,1282,100<=X<500,1<=X<4,4,female div/dep/mar,2,32,own,1,unskilled resident,1,yes,bad,1,yes,yes
16,no checking,24,critical/other existing credit,radio/tv,2424,no known savings,>=7,4,male single,4,53,own,2,skilled,1,yes,good,1,no,no
17,<0,30,no credits/all paid,business,8072,no known savings,<1,2,male single,3,25,own,3,skilled,1,yes,good,1,yes,no
18,0<=X<200,24,existing paid,used car,12579,<100,>=7,4,female div/dep/mar,2,44,for free,1,high qualif/self emp/mgmt,1,yes,bad,1,yes,yes
19,no checking,24,existing paid,radio/tv,3430,500<=X<1000,>=7,3,male single,2,31,own,1,skilled,2,yes,good,1,no,yes
20,no checking,9,critical/other existing credit,new car,2134,<100,1<=X<4,4,male single,4,48,own,3,skilled,1,yes,good,1,no,yes
21,<0,6,existing paid,radio/tv,2647,500<=X<1000,1<=X<4,2,male single,3,44,rent,1,skilled,2,yes,good,1,yes,yes
22,<0,10,critical/other existing credit,new car,2241,<100,<1,1,male single,3,48,rent,2,unskilled resident,2,no,good,1,yes,yes
23,0<=X<200,12,critical/other existing credit,used car,1804,100<=X<500,<1,3,male single,4,44,own,1,skilled,1,yes,good,1,yes,yes
24,no checking,10,critical/other existing credit,furniture/equipment,2069,no known savings,1<=X<4,2,male mar/wid,1,26,own,2,skilled,1,no,good,1,no,no
25,<0,6,existing paid,furniture/equipment,1374,<100,1<=X<4,1,male single,2,36,own,1,unskilled resident,1,yes,good,1,yes,yes
26,no checking,6,no credits/all paid,radio/tv,426,<100,>=7,4,male mar/wid,4,39,own,1,unskilled resident,1,yes,good,1,no,yes
27,>=200,12,all paid,radio/tv,409,>=1000,1<=X<4,3,female div/dep/mar,3,42,rent,2,skilled,1,yes,good,1,yes,yes
28,0<=X<200,7,existing paid,radio/tv,2415,<100,1<=X<4,3,male single,2,34,own,1,skilled,1,yes,good,1,yes,yes
29,<0,60,delayed previously,business,6836,<100,>=7,3,male single,4,63,own,2,skilled,1,yes,bad,1,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,no checking,36,existing paid,used car,8133,<100,1<=X<4,1,female div/dep/mar,2,30,own,1,skilled,1,yes,good,1,no,yes
71,no checking,7,critical/other existing credit,radio/tv,730,no known savings,>=7,4,male single,2,46,rent,2,unskilled resident,1,yes,good,1,no,no
72,<0,8,critical/other existing credit,other,1164,<100,>=7,3,male single,4,51,for free,2,high qualif/self emp/mgmt,2,yes,good,1,yes,yes
73,0<=X<200,42,critical/other existing credit,business,5954,<100,4<=X<7,2,female div/dep/mar,1,41,own,2,unskilled resident,1,yes,good,1,yes,yes
74,<0,36,existing paid,education,1977,no known savings,>=7,4,male single,4,40,own,1,high qualif/self emp/mgmt,1,yes,bad,1,yes,no
75,<0,12,critical/other existing credit,used car,1526,<100,>=7,4,male single,4,66,for free,2,high qualif/self emp/mgmt,1,yes,good,1,yes,yes
76,<0,42,existing paid,radio/tv,3965,<100,<1,4,male single,3,34,own,1,skilled,1,yes,bad,1,yes,yes
77,0<=X<200,11,delayed previously,radio/tv,4771,<100,4<=X<7,2,male single,4,51,own,1,skilled,1,yes,good,1,yes,yes
78,no checking,54,no credits/all paid,used car,9436,no known savings,1<=X<4,2,male single,2,39,own,1,unskilled resident,2,yes,good,1,no,no
79,0<=X<200,30,existing paid,furniture/equipment,3832,<100,<1,2,male mar/wid,1,22,own,1,skilled,1,yes,good,1,yes,yes
80,no checking,24,existing paid,radio/tv,5943,no known savings,<1,1,female div/dep/mar,1,44,own,2,skilled,1,yes,bad,1,no,no
81,no checking,15,existing paid,radio/tv,1213,500<=X<1000,>=7,4,male single,3,47,own,1,skilled,1,yes,good,1,no,yes
82,no checking,18,existing paid,business,1568,100<=X<500,1<=X<4,3,female div/dep/mar,4,24,rent,1,unskilled resident,1,yes,good,1,no,yes
83,<0,24,existing paid,other,1755,<100,>=7,4,female div/dep/mar,4,58,own,1,unskilled resident,1,yes,good,1,yes,yes
84,<0,10,existing paid,radio/tv,2315,<100,>=7,3,male single,4,52,own,1,unskilled resident,1,yes,good,1,yes,yes
85,no checking,12,critical/other existing credit,business,1412,<100,1<=X<4,4,female div/dep/mar,2,29,own,2,high qualif/self emp/mgmt,1,yes,good,1,no,yes
86,0<=X<200,18,critical/other existing credit,furniture/equipment,1295,<100,<1,4,female div/dep/mar,1,27,own,2,skilled,1,yes,good,1,yes,yes
87,0<=X<200,36,existing paid,education,12612,100<=X<500,1<=X<4,1,male single,4,47,for free,1,skilled,2,yes,bad,1,yes,yes
88,<0,18,existing paid,new car,2249,100<=X<500,4<=X<7,4,male single,3,30,own,1,high qualif/self emp/mgmt,2,yes,good,1,yes,yes
89,<0,12,no credits/all paid,repairs,1108,<100,4<=X<7,4,male single,3,28,own,2,skilled,1,yes,bad,1,yes,yes
90,no checking,12,critical/other existing credit,radio/tv,618,<100,>=7,4,male single,4,56,own,1,skilled,1,yes,good,1,no,yes
91,<0,12,critical/other existing credit,used car,1409,<100,>=7,4,male single,3,54,own,1,skilled,1,yes,good,1,yes,yes
92,no checking,12,critical/other existing credit,radio/tv,797,no known savings,>=7,4,female div/dep/mar,3,33,own,1,unskilled resident,2,yes,bad,1,no,no
93,>=200,24,critical/other existing credit,furniture/equipment,3617,no known savings,>=7,4,male single,4,20,rent,2,skilled,1,yes,good,1,yes,no
94,0<=X<200,12,existing paid,new car,1318,>=1000,>=7,4,male single,4,54,own,1,skilled,1,yes,good,1,yes,yes
95,0<=X<200,54,no credits/all paid,business,15945,<100,<1,3,male single,4,58,rent,1,skilled,1,yes,bad,1,yes,yes
96,no checking,12,critical/other existing credit,education,2012,no known savings,4<=X<7,4,female div/dep/mar,2,61,own,1,skilled,1,yes,good,1,no,no
97,0<=X<200,18,existing paid,business,2622,100<=X<500,1<=X<4,4,male single,4,34,own,1,skilled,1,yes,good,1,yes,yes
98,0<=X<200,36,critical/other existing credit,radio/tv,2337,<100,>=7,4,male single,4,36,own,1,skilled,1,yes,good,1,yes,yes
99,0<=X<200,20,delayed previously,used car,7057,no known savings,4<=X<7,3,male single,4,36,rent,2,high qualif/self emp/mgmt,2,yes,good,1,yes,no

In [23]:
datame.columns

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'residence_since', 'age',
       'housing', 'existing_credits', 'job', 'num_dependents',
       'foreign_worker', 'class', 'count', 'checkacct', 'saveacct'],
      dtype='object')

In [24]:
datause = datame[['count','checkacct', 'saveacct',  'credit_history', 'purpose',
       'credit_amount',  'employment',
       'installment_commitment', 'personal_status', 'residence_since', 'age',
       'housing', 'existing_credits', 'job', 'num_dependents',
       'foreign_worker', 'class']]

In [25]:
datause.head()

,count,checkacct,saveacct,credit_history,purpose,credit_amount,employment,installment_commitment,personal_status,residence_since,age,housing,existing_credits,job,num_dependents,foreign_worker,class
0,1,yes,no,critical/other existing credit,radio/tv,1169,>=7,4,male single,4,67,own,2,skilled,1,yes,good
1,1,yes,yes,existing paid,radio/tv,5951,1<=X<4,2,female div/dep/mar,2,22,own,1,skilled,1,yes,bad
2,1,no,yes,critical/other existing credit,education,2096,4<=X<7,2,male single,3,49,own,1,unskilled resident,2,yes,good
3,1,yes,yes,existing paid,furniture/equipment,7882,4<=X<7,2,male single,4,45,for free,1,skilled,2,yes,good
4,1,yes,yes,delayed previously,new car,4870,1<=X<4,3,male single,4,53,for free,2,skilled,2,yes,bad

In [26]:
datause['personal_status'].unique #look at all the data in a column

<bound method Series.unique of 0             male single
1      female div/dep/mar
2             male single
3             male single
4             male single
5             male single
6             male single
7             male single
8            male div/sep
9            male mar/wid
10     female div/dep/mar
11     female div/dep/mar
12     female div/dep/mar
13            male single
14     female div/dep/mar
15     female div/dep/mar
16            male single
17            male single
18     female div/dep/mar
19            male single
20            male single
21            male single
22            male single
23            male single
24           male mar/wid
25            male single
26           male mar/wid
27     female div/dep/mar
28            male single
29            male single
              ...
970           male single
971           male single
972    female div/dep/mar
973           male single
974    female div/dep/mar
975    female div/dep/mar
976    female div/dep/mar
977           male single
978           male single
979          male mar/wid
980           male single
981           male single
982    female div/dep/mar
983           male single
984           male single
985    female div/dep/mar
986          male div/sep
987    female div/dep/mar
988           male single
989           male single
990           male single
991           male single
992          male mar/wid
993           male single
994           male single
995    female div/dep/mar
996          male div/sep
997           male single
998           male single
999           male single
Name: personal_status, Length: 1000, dtype: object>

In [27]:
gender = []

for row in datause.personal_status:
    if row in ['male single', 'male mar/wid', 'male div/sep']:
        gender.append('male')
    else:
        gender.append('female')
        
datause['gender'] = gender

C:\Users\Naeemah\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [28]:
datause.head(100)

,count,checkacct,saveacct,credit_history,purpose,credit_amount,employment,installment_commitment,personal_status,residence_since,age,housing,existing_credits,job,num_dependents,foreign_worker,class,gender
0,1,yes,no,critical/other existing credit,radio/tv,1169,>=7,4,male single,4,67,own,2,skilled,1,yes,good,male
1,1,yes,yes,existing paid,radio/tv,5951,1<=X<4,2,female div/dep/mar,2,22,own,1,skilled,1,yes,bad,female
2,1,no,yes,critical/other existing credit,education,2096,4<=X<7,2,male single,3,49,own,1,unskilled resident,2,yes,good,male
3,1,yes,yes,existing paid,furniture/equipment,7882,4<=X<7,2,male single,4,45,for free,1,skilled,2,yes,good,male
4,1,yes,yes,delayed previously,new car,4870,1<=X<4,3,male single,4,53,for free,2,skilled,2,yes,bad,male
5,1,no,no,existing paid,education,9055,1<=X<4,2,male single,4,35,for free,1,unskilled resident,2,yes,good,male
6,1,no,yes,existing paid,furniture/equipment,2835,>=7,3,male single,4,53,own,1,skilled,1,yes,good,male
7,1,yes,yes,existing paid,used car,6948,1<=X<4,2,male single,2,35,rent,1,high qualif/self emp/mgmt,1,yes,good,male
8,1,no,yes,existing paid,radio/tv,3059,4<=X<7,2,male div/sep,4,61,own,1,unskilled resident,1,yes,good,male
9,1,yes,yes,critical/other existing credit,new car,5234,unemployed,4,male mar/wid,2,28,own,2,high qualif/self emp/mgmt,1,yes,bad,male
10,1,yes,yes,existing paid,new car,1295,<1,3,female div/dep/mar,1,25,rent,1,skilled,1,yes,bad,female
11,1,yes,yes,existing paid,business,4308,<1,3,female div/dep/mar,4,24,rent,1,skilled,1,yes,bad,female
12,1,yes,yes,existing paid,radio/tv,1567,1<=X<4,1,female div/dep/mar,1,22,own,1,skilled,1,yes,good,female
13,1,yes,yes,critical/other existing credit,new car,1199,>=7,4,male single,4,60,own,2,unskilled resident,1,yes,bad,male
14,1,yes,yes,existing paid,new car,1403,1<=X<4,2,female div/dep/mar,4,28,rent,1,skilled,1,yes,good,female
15,1,yes,yes,existing paid,radio/tv,1282,1<=X<4,4,female div/dep/mar,2,32,own,1,unskilled resident,1,yes,bad,female
16,1,no,no,critical/other existing credit,radio/tv,2424,>=7,4,male single,4,53,own,2,skilled,1,yes,good,male
17,1,yes,no,no credits/all paid,business,8072,<1,2,male single,3,25,own,3,skilled,1,yes,good,male
18,1,yes,yes,existing paid,used car,12579,>=7,4,female div/dep/mar,2,44,for free,1,high qualif/self emp/mgmt,1,yes,bad,female
19,1,no,yes,existing paid,radio/tv,3430,>=7,3,male single,2,31,own,1,skilled,2,yes,good,male
20,1,no,yes,critical/other existing credit,new car,2134,1<=X<4,4,male single,4,48,own,3,skilled,1,yes,good,male
21,1,yes,yes,existing paid,radio/tv,2647,1<=X<4,2,male single,3,44,rent,1,skilled,2,yes,good,male
22,1,yes,yes,critical/other existing credit,new car,2241,<1,1,male single,3,48,rent,2,unskilled resident,2,no,good,male
23,1,yes,yes,critical/other existing credit,used car,1804,<1,3,male single,4,44,own,1,skilled,1,yes,good,male
24,1,no,no,critical/other existing credit,furniture/equipment,2069,1<=X<4,2,male mar/wid,1,26,own,2,skilled,1,no,good,male
25,1,yes,yes,existing paid,furniture/equipment,1374,1<=X<4,1,male single,2,36,own,1,unskilled resident,1,yes,good,male
26,1,no,yes,no credits/all paid,radio/tv,426,>=7,4,male mar/wid,4,39,own,1,unskilled resident,1,yes,good,male
27,1,yes,yes,all paid,radio/tv,409,1<=X<4,3,female div/dep/mar,3,42,rent,2,skilled,1,yes,good,female
28,1,yes,yes,existing paid,radio/tv,2415,1<=X<4,3,male single,2,34,own,1,skilled,1,yes,good,male
29,1,yes,yes,delayed previously,business,6836,>=7,3,male single,4,63,own,2,skilled,1,yes,bad,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,no,yes,existing paid,used car,8133,1<=X<4,1,female div/dep/mar,2,30,own,1,skilled,1,yes,good,female
71,1,no,no,critical/other existing credit,radio/tv,730,>=7,4,male single,2,46,rent,2,unskilled resident,1,yes,good,male
72,1,yes,yes,critical/other existing credit,other,1164,>=7,3,male single,4,51,for free,2,high qualif/self emp/mgmt,2,yes,good,male
73,1,yes,yes,critical/other existing credit,business,5954,4<=X<7,2,female div/dep/mar,1,41,own,2,unskilled resident,1,yes,good,female
74,1,yes,no,existing paid,education,1977,>=7,4,male single,4,40,own,1,high qualif/self emp/mgmt,1,yes,bad,male
75,1,yes,yes,critical/other existing credit,used car,1526,>=7,4,male single,4,66,for free,2,high qualif/self emp/mgmt,1,yes,good,male
76,1,yes,yes,existing paid,radio/tv,3965,<1,4,male single,3,34,own,1,skilled,1,yes,bad,male
77,1,yes,yes,delayed previously,radio/tv,4771,4<=X<7,2,male single,4,51,own,1,skilled,1,yes,good,male
78,1,no,no,no credits/all paid,used car,9436,1<=X<4,2,male single,2,39,own,1,unskilled resident,2,yes,good,male
79,1,yes,yes,existing paid,furniture/equipment,3832,<1,2,male mar/wid,1,22,own,1,skilled,1,yes,good,male
80,1,no,no,existing paid,radio/tv,5943,<1,1,female div/dep/mar,1,44,own,2,skilled,1,yes,bad,female
81,1,no,yes,existing paid,radio/tv,1213,>=7,4,male single,3,47,own,1,skilled,1,yes,good,male
82,1,no,yes,existing paid,business,1568,1<=X<4,3,female div/dep/mar,4,24,rent,1,unskilled resident,1,yes,good,female
83,1,yes,yes,existing paid,other,1755,>=7,4,female div/dep/mar,4,58,own,1,unskilled resident,1,yes,good,female
84,1,yes,yes,existing paid,radio/tv,2315,>=7,3,male single,4,52,own,1,unskilled resident,1,yes,good,male
85,1,no,yes,critical/other existing credit,business,1412,1<=X<4,4,female div/dep/mar,2,29,own,2,high qualif/self emp/mgmt,1,yes,good,female
86,1,yes,yes,critical/other existing credit,furniture/equipment,1295,<1,4,female div/dep/mar,1,27,own,2,skilled,1,yes,good,female
87,1,yes,yes,existing paid,education,12612,1<=X<4,1,male single,4,47,for free,1,skilled,2,yes,bad,male
88,1,yes,yes,existing paid,new car,2249,4<=X<7,4,male single,3,30,own,1,high qualif/self emp/mgmt,2,yes,good,male
89,1,yes,yes,no credits/all paid,repairs,1108,4<=X<7,4,male single,3,28,own,2,skilled,1,yes,bad,male
90,1,no,yes,critical/other existing credit,radio/tv,618,>=7,4,male single,4,56,own,1,skilled,1,yes,good,male
91,1,yes,yes,critical/other existing credit,used car,1409,>=7,4,male single,3,54,own,1,skilled,1,yes,good,male
92,1,no,no,critical/other existing credit,radio/tv,797,>=7,4,female div/dep/mar,3,33,own,1,unskilled resident,2,yes,bad,female
93,1,yes,no,critical/other existing credit,furniture/equipment,3617,>=7,4,male single,4,20,rent,2,skilled,1,yes,good,male
94,1,yes,yes,existing paid,new car,1318,>=7,4,male single,4,54,own,1,skilled,1,yes,good,male
95,1,yes,yes,no credits/all paid,business,15945,<1,3,male single,4,58,rent,1,skilled,1,yes,bad,male
96,1,no,no,critical/other existing credit,education,2012,4<=X<7,4,female div/dep/mar,2,61,own,1,skilled,1,yes,good,female
97,1,yes,yes,existing paid,business,2622,1<=X<4,4,male single,4,34,own,1,skilled,1,yes,good,male
98,1,yes,yes,critical/other existing credit,radio/tv,2337,>=7,4,male single,4,36,own,1,skilled,1,yes,good,male
99,1,yes,no,delayed previously,used car,7057,4<=X<7,3,male single,4,36,rent,2,high qualif/self emp/mgmt,2,yes,good,male

In [29]:
datause = datause[['count','class','age','gender','credit_history','checkacct', 'saveacct', 'num_dependents', 'housing', 'foreign_worker',  'employment','job', 'residence_since',
       'credit_amount', 'existing_credits']]

In [30]:
datause.head(100)

,count,class,age,gender,credit_history,checkacct,saveacct,num_dependents,housing,foreign_worker,employment,job,residence_since,credit_amount,existing_credits
0,1,good,67,male,critical/other existing credit,yes,no,1,own,yes,>=7,skilled,4,1169,2
1,1,bad,22,female,existing paid,yes,yes,1,own,yes,1<=X<4,skilled,2,5951,1
2,1,good,49,male,critical/other existing credit,no,yes,2,own,yes,4<=X<7,unskilled resident,3,2096,1
3,1,good,45,male,existing paid,yes,yes,2,for free,yes,4<=X<7,skilled,4,7882,1
4,1,bad,53,male,delayed previously,yes,yes,2,for free,yes,1<=X<4,skilled,4,4870,2
5,1,good,35,male,existing paid,no,no,2,for free,yes,1<=X<4,unskilled resident,4,9055,1
6,1,good,53,male,existing paid,no,yes,1,own,yes,>=7,skilled,4,2835,1
7,1,good,35,male,existing paid,yes,yes,1,rent,yes,1<=X<4,high qualif/self emp/mgmt,2,6948,1
8,1,good,61,male,existing paid,no,yes,1,own,yes,4<=X<7,unskilled resident,4,3059,1
9,1,bad,28,male,critical/other existing credit,yes,yes,1,own,yes,unemployed,high qualif/self emp/mgmt,2,5234,2
10,1,bad,25,female,existing paid,yes,yes,1,rent,yes,<1,skilled,1,1295,1
11,1,bad,24,female,existing paid,yes,yes,1,rent,yes,<1,skilled,4,4308,1
12,1,good,22,female,existing paid,yes,yes,1,own,yes,1<=X<4,skilled,1,1567,1
13,1,bad,60,male,critical/other existing credit,yes,yes,1,own,yes,>=7,unskilled resident,4,1199,2
14,1,good,28,female,existing paid,yes,yes,1,rent,yes,1<=X<4,skilled,4,1403,1
15,1,bad,32,female,existing paid,yes,yes,1,own,yes,1<=X<4,unskilled resident,2,1282,1
16,1,good,53,male,critical/other existing credit,no,no,1,own,yes,>=7,skilled,4,2424,2
17,1,good,25,male,no credits/all paid,yes,no,1,own,yes,<1,skilled,3,8072,3
18,1,bad,44,female,existing paid,yes,yes,1,for free,yes,>=7,high qualif/self emp/mgmt,2,12579,1
19,1,good,31,male,existing paid,no,yes,2,own,yes,>=7,skilled,2,3430,1
20,1,good,48,male,critical/other existing credit,no,yes,1,own,yes,1<=X<4,skilled,4,2134,3
21,1,good,44,male,existing paid,yes,yes,2,rent,yes,1<=X<4,skilled,3,2647,1
22,1,good,48,male,critical/other existing credit,yes,yes,2,rent,no,<1,unskilled resident,3,2241,2
23,1,good,44,male,critical/other existing credit,yes,yes,1,own,yes,<1,skilled,4,1804,1
24,1,good,26,male,critical/other existing credit,no,no,1,own,no,1<=X<4,skilled,1,2069,2
25,1,good,36,male,existing paid,yes,yes,1,own,yes,1<=X<4,unskilled resident,2,1374,1
26,1,good,39,male,no credits/all paid,no,yes,1,own,yes,>=7,unskilled resident,4,426,1
27,1,good,42,female,all paid,yes,yes,1,rent,yes,1<=X<4,skilled,3,409,2
28,1,good,34,male,existing paid,yes,yes,1,own,yes,1<=X<4,skilled,2,2415,1
29,1,bad,63,male,delayed previously,yes,yes,1,own,yes,>=7,skilled,4,6836,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,good,30,female,existing paid,no,yes,1,own,yes,1<=X<4,skilled,2,8133,1
71,1,good,46,male,critical/other existing credit,no,no,1,rent,yes,>=7,unskilled resident,2,730,2
72,1,good,51,male,critical/other existing credit,yes,yes,2,for free,yes,>=7,high qualif/self emp/mgmt,4,1164,2
73,1,good,41,female,critical/other existing credit,yes,yes,1,own,yes,4<=X<7,unskilled resident,1,5954,2
74,1,bad,40,male,existing paid,yes,no,1,own,yes,>=7,high qualif/self emp/mgmt,4,1977,1
75,1,good,66,male,critical/other existing credit,yes,yes,1,for free,yes,>=7,high qualif/self emp/mgmt,4,1526,2
76,1,bad,34,male,existing paid,yes,yes,1,own,yes,<1,skilled,3,3965,1
77,1,good,51,male,delayed previously,yes,yes,1,own,yes,4<=X<7,skilled,4,4771,1
78,1,good,39,male,no credits/all paid,no,no,2,own,yes,1<=X<4,unskilled resident,2,9436,1
79,1,good,22,male,existing paid,yes,yes,1,own,yes,<1,skilled,1,3832,1
80,1,bad,44,female,existing paid,no,no,1,own,yes,<1,skilled,1,5943,2
81,1,good,47,male,existing paid,no,yes,1,own,yes,>=7,skilled,3,1213,1
82,1,good,24,female,existing paid,no,yes,1,rent,yes,1<=X<4,unskilled resident,4,1568,1
83,1,good,58,female,existing paid,yes,yes,1,own,yes,>=7,unskilled resident,4,1755,1
84,1,good,52,male,existing paid,yes,yes,1,own,yes,>=7,unskilled resident,4,2315,1
85,1,good,29,female,critical/other existing credit,no,yes,1,own,yes,1<=X<4,high qualif/self emp/mgmt,2,1412,2
86,1,good,27,female,critical/other existing credit,yes,yes,1,own,yes,<1,skilled,1,1295,2
87,1,bad,47,male,existing paid,yes,yes,2,for free,yes,1<=X<4,skilled,4,12612,1
88,1,good,30,male,existing paid,yes,yes,2,own,yes,4<=X<7,high qualif/self emp/mgmt,3,2249,1
89,1,bad,28,male,no credits/all paid,yes,yes,1,own,yes,4<=X<7,skilled,3,1108,2
90,1,good,56,male,critical/other existing credit,no,yes,1,own,yes,>=7,skilled,4,618,1
91,1,good,54,male,critical/other existing credit,yes,yes,1,own,yes,>=7,skilled,3,1409,1
92,1,bad,33,female,critical/other existing credit,no,no,2,own,yes,>=7,unskilled resident,3,797,1
93,1,good,20,male,critical/other existing credit,yes,no,1,rent,yes,>=7,skilled,4,3617,2
94,1,good,54,male,existing paid,yes,yes,1,own,yes,>=7,skilled,4,1318,1
95,1,bad,58,male,no credits/all paid,yes,yes,1,rent,yes,<1,skilled,4,15945,1
96,1,good,61,female,critical/other existing credit,no,no,1,own,yes,4<=X<7,skilled,2,2012,1
97,1,good,34,male,existing paid,yes,yes,1,own,yes,1<=X<4,skilled,4,2622,1
98,1,good,36,male,critical/other existing credit,yes,yes,1,own,yes,>=7,skilled,4,2337,1
99,1,good,36,male,delayed previously,yes,no,2,rent,yes,4<=X<7,high qualif/self emp/mgmt,4,7057,2

In [31]:
datause['employment'].unique

<bound method Series.unique of 0             >=7
1          1<=X<4
2          4<=X<7
3          4<=X<7
4          1<=X<4
5          1<=X<4
6             >=7
7          1<=X<4
8          4<=X<7
9      unemployed
10             <1
11             <1
12         1<=X<4
13            >=7
14         1<=X<4
15         1<=X<4
16            >=7
17             <1
18            >=7
19            >=7
20         1<=X<4
21         1<=X<4
22             <1
23             <1
24         1<=X<4
25         1<=X<4
26            >=7
27         1<=X<4
28         1<=X<4
29            >=7
          ...
970        1<=X<4
971        1<=X<4
972    unemployed
973           >=7
974        1<=X<4
975        1<=X<4
976        1<=X<4
977           >=7
978           >=7
979        1<=X<4
980        4<=X<7
981    unemployed
982        1<=X<4
983        1<=X<4
984        4<=X<7
985        1<=X<4
986            <1
987    unemployed
988    unemployed
989           >=7
990            <1
991           >=7
992        4<=X<7
993    unemployed
994           >=7
995        4<=X<7
996        1<=X<4
997           >=7
998        1<=X<4
999    unemployed
Name: employment, Length: 1000, dtype: object>

In [32]:
employment = []

for row in datause.employment:
    if row in ['unemployed']:
        employment.append('unemployed')
    else:
        employment.append('employed')
        
datause['employment'] = employment

In [33]:
datause.head(2)

,count,class,age,gender,credit_history,checkacct,saveacct,num_dependents,housing,foreign_worker,employment,job,residence_since,credit_amount,existing_credits
0,1,good,67,male,critical/other existing credit,yes,no,1,own,yes,employed,skilled,4,1169,2
1,1,bad,22,female,existing paid,yes,yes,1,own,yes,employed,skilled,2,5951,1

In [34]:
datause['age'].unique

<bound method Series.unique of 0      67
1      22
2      49
3      45
4      53
5      35
6      53
7      35
8      61
9      28
10     25
11     24
12     22
13     60
14     28
15     32
16     53
17     25
18     44
19     31
20     48
21     44
22     48
23     44
24     26
25     36
26     39
27     42
28     34
29     63
       ..
970    22
971    43
972    29
973    36
974    33
975    57
976    64
977    42
978    47
979    25
980    49
981    33
982    28
983    26
984    30
985    25
986    33
987    64
988    29
989    48
990    37
991    34
992    23
993    30
994    50
995    31
996    40
997    38
998    23
999    27
Name: age, Length: 1000, dtype: int64>

In [35]:
datause['age_bins'] = pd.cut(datause['age'], 6)  #to create bins

In [36]:
datause.head()

,count,class,age,gender,credit_history,checkacct,saveacct,num_dependents,housing,foreign_worker,employment,job,residence_since,credit_amount,existing_credits,age_bins
0,1,good,67,male,critical/other existing credit,yes,no,1,own,yes,employed,skilled,4,1169,2,"(65.667, 75.0]"
1,1,bad,22,female,existing paid,yes,yes,1,own,yes,employed,skilled,2,5951,1,"(18.944, 28.333]"
2,1,good,49,male,critical/other existing credit,no,yes,2,own,yes,employed,unskilled resident,3,2096,1,"(47.0, 56.333]"
3,1,good,45,male,existing paid,yes,yes,2,for free,yes,employed,skilled,4,7882,1,"(37.667, 47.0]"
4,1,bad,53,male,delayed previously,yes,yes,2,for free,yes,employed,skilled,4,4870,2,"(47.0, 56.333]"

In [37]:
datause['age_bins'].unique()

[(65.667, 75.0], (18.944, 28.333], (47.0, 56.333], (37.667, 47.0], (28.333, 37.667], (56.333, 65.667]]
Categories (6, interval[float64]): [(18.944, 28.333] < (28.333, 37.667] < (37.667, 47.0] < (47.0, 56.333] < (56.333, 65.667] < (65.667, 75.0]]

In [38]:
datause['agerange'] = pd.cut(x=datause['age'], bins=[20, 30, 40, 50, 60, 70, 80], labels=['20', '30', '40','50', '60','70'])

#set bins in a range

In [39]:
datause.head(100)

,count,class,age,gender,credit_history,checkacct,saveacct,num_dependents,housing,foreign_worker,employment,job,residence_since,credit_amount,existing_credits,age_bins,agerange
0,1,good,67,male,critical/other existing credit,yes,no,1,own,yes,employed,skilled,4,1169,2,"(65.667, 75.0]",60
1,1,bad,22,female,existing paid,yes,yes,1,own,yes,employed,skilled,2,5951,1,"(18.944, 28.333]",20
2,1,good,49,male,critical/other existing credit,no,yes,2,own,yes,employed,unskilled resident,3,2096,1,"(47.0, 56.333]",40
3,1,good,45,male,existing paid,yes,yes,2,for free,yes,employed,skilled,4,7882,1,"(37.667, 47.0]",40
4,1,bad,53,male,delayed previously,yes,yes,2,for free,yes,employed,skilled,4,4870,2,"(47.0, 56.333]",50
5,1,good,35,male,existing paid,no,no,2,for free,yes,employed,unskilled resident,4,9055,1,"(28.333, 37.667]",30
6,1,good,53,male,existing paid,no,yes,1,own,yes,employed,skilled,4,2835,1,"(47.0, 56.333]",50
7,1,good,35,male,existing paid,yes,yes,1,rent,yes,employed,high qualif/self emp/mgmt,2,6948,1,"(28.333, 37.667]",30
8,1,good,61,male,existing paid,no,yes,1,own,yes,employed,unskilled resident,4,3059,1,"(56.333, 65.667]",60
9,1,bad,28,male,critical/other existing credit,yes,yes,1,own,yes,unemployed,high qualif/self emp/mgmt,2,5234,2,"(18.944, 28.333]",20
10,1,bad,25,female,existing paid,yes,yes,1,rent,yes,employed,skilled,1,1295,1,"(18.944, 28.333]",20
11,1,bad,24,female,existing paid,yes,yes,1,rent,yes,employed,skilled,4,4308,1,"(18.944, 28.333]",20
12,1,good,22,female,existing paid,yes,yes,1,own,yes,employed,skilled,1,1567,1,"(18.944, 28.333]",20
13,1,bad,60,male,critical/other existing credit,yes,yes,1,own,yes,employed,unskilled resident,4,1199,2,"(56.333, 65.667]",50
14,1,good,28,female,existing paid,yes,yes,1,rent,yes,employed,skilled,4,1403,1,"(18.944, 28.333]",20
15,1,bad,32,female,existing paid,yes,yes,1,own,yes,employed,unskilled resident,2,1282,1,"(28.333, 37.667]",30
16,1,good,53,male,critical/other existing credit,no,no,1,own,yes,employed,skilled,4,2424,2,"(47.0, 56.333]",50
17,1,good,25,male,no credits/all paid,yes,no,1,own,yes,employed,skilled,3,8072,3,"(18.944, 28.333]",20
18,1,bad,44,female,existing paid,yes,yes,1,for free,yes,employed,high qualif/self emp/mgmt,2,12579,1,"(37.667, 47.0]",40
19,1,good,31,male,existing paid,no,yes,2,own,yes,employed,skilled,2,3430,1,"(28.333, 37.667]",30
20,1,good,48,male,critical/other existing credit,no,yes,1,own,yes,employed,skilled,4,2134,3,"(47.0, 56.333]",40
21,1,good,44,male,existing paid,yes,yes,2,rent,yes,employed,skilled,3,2647,1,"(37.667, 47.0]",40
22,1,good,48,male,critical/other existing credit,yes,yes,2,rent,no,employed,unskilled resident,3,2241,2,"(47.0, 56.333]",40
23,1,good,44,male,critical/other existing credit,yes,yes,1,own,yes,employed,skilled,4,1804,1,"(37.667, 47.0]",40
24,1,good,26,male,critical/other existing credit,no,no,1,own,no,employed,skilled,1,2069,2,"(18.944, 28.333]",20
25,1,good,36,male,existing paid,yes,yes,1,own,yes,employed,unskilled resident,2,1374,1,"(28.333, 37.667]",30
26,1,good,39,male,no credits/all paid,no,yes,1,own,yes,employed,unskilled resident,4,426,1,"(37.667, 47.0]",30
27,1,good,42,female,all paid,yes,yes,1,rent,yes,employed,skilled,3,409,2,"(37.667, 47.0]",40
28,1,good,34,male,existing paid,yes,yes,1,own,yes,employed,skilled,2,2415,1,"(28.333, 37.667]",30
29,1,bad,63,male,delayed previously,yes,yes,1,own,yes,employed,skilled,4,6836,2,"(56.333, 65.667]",60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,good,30,female,existing paid,no,yes,1,own,yes,employed,skilled,2,8133,1,"(28.333, 37.667]",20
71,1,good,46,male,critical/other existing credit,no,no,1,rent,yes,employed,unskilled resident,2,730,2,"(37.667, 47.0]",40
72,1,good,51,male,critical/other existing credit,yes,yes,2,for free,yes,employed,high qualif/self emp/mgmt,4,1164,2,"(47.0, 56.333]",50
73,1,good,41,female,critical/other existing credit,yes,yes,1,own,yes,employed,unskilled resident,1,5954,2,"(37.667, 47.0]",40
74,1,bad,40,male,existing paid,yes,no,1,own,yes,employed,high qualif/self emp/mgmt,4,1977,1,"(37.667, 47.0]",30
75,1,good,66,male,critical/other existing credit,yes,yes,1,for free,yes,employed,high qualif/self emp/mgmt,4,1526,2,"(65.667, 75.0]",60
76,1,bad,34,male,existing paid,yes,yes,1,own,yes,employed,skilled,3,3965,1,"(28.333, 37.667]",30
77,1,good,51,male,delayed previously,yes,yes,1,own,yes,employed,skilled,4,4771,1,"(47.0, 56.333]",50
78,1,good,39,male,no credits/all paid,no,no,2,own,yes,employed,unskilled resident,2,9436,1,"(37.667, 47.0]",30
79,1,good,22,male,existing paid,yes,yes,1,own,yes,employed,skilled,1,3832,1,"(18.944, 28.333]",20
80,1,bad,44,female,existing paid,no,no,1,own,yes,employed,skilled,1,5943,2,"(37.667, 47.0]",40
81,1,good,47,male,existing paid,no,yes,1,own,yes,employed,skilled,3,1213,1,"(37.667, 47.0]",40
82,1,good,24,female,existing paid,no,yes,1,rent,yes,employed,unskilled resident,4,1568,1,"(18.944, 28.333]",20
83,1,good,58,female,existing paid,yes,yes,1,own,yes,employed,unskilled resident,4,1755,1,"(56.333, 65.667]",50
84,1,good,52,male,existing paid,yes,yes,1,own,yes,employed,unskilled resident,4,2315,1,"(47.0, 56.333]",50
85,1,good,29,female,critical/other existing credit,no,yes,1,own,yes,employed,high qualif/self emp/mgmt,2,1412,2,"(28.333, 37.667]",20
86,1,good,27,female,critical/other existing credit,yes,yes,1,own,yes,employed,skilled,1,1295,2,"(18.944, 28.333]",20
87,1,bad,47,male,existing paid,yes,yes,2,for free,yes,employed,skilled,4,12612,1,"(37.667, 47.0]",40
88,1,good,30,male,existing paid,yes,yes,2,own,yes,employed,high qualif/self emp/mgmt,3,2249,1,"(28.333, 37.667]",20
89,1,bad,28,male,no credits/all paid,yes,yes,1,own,yes,employed,skilled,3,1108,2,"(18.944, 28.333]",20
90,1,good,56,male,critical/other existing credit,no,yes,1,own,yes,employed,skilled,4,618,1,"(47.0, 56.333]",50
91,1,good,54,male,critical/other existing credit,yes,yes,1,own,yes,employed,skilled,3,1409,1,"(47.0, 56.333]",50
92,1,bad,33,female,critical/other existing credit,no,no,2,own,yes,employed,unskilled resident,3,797,1,"(28.333, 37.667]",30
93,1,good,20,male,critical/other existing credit,yes,no,1,rent,yes,employed,skilled,4,3617,2,"(18.944, 28.333]",NaN
94,1,good,54,male,existing paid,yes,yes,1,own,yes,employed,skilled,4,1318,1,"(47.0, 56.333]",50
95,1,bad,58,male,no credits/all paid,yes,yes,1,rent,yes,employed,skilled,4,15945,1,"(56.333, 65.667]",50
96,1,good,61,female,critical/other existing credit,no,no,1,own,yes,employed,skilled,2,2012,1,"(56.333, 65.667]",60
97,1,good,34,male,existing paid,yes,yes,1,own,yes,employed,skilled,4,2622,1,"(28.333, 37.667]",30
98,1,good,36,male,critical/other existing credit,yes,yes,1,own,yes,employed,skilled,4,2337,1,"(28.333, 37.667]",30
99,1,good,36,male,delayed previously,yes,no,2,rent,yes,employed,high qualif/self emp/mgmt,4,7057,2,"(28.333, 37.667]",30

In [40]:
datause.columns

Index(['count', 'class', 'age', 'gender', 'credit_history', 'checkacct',
       'saveacct', 'num_dependents', 'housing', 'foreign_worker', 'employment',
       'job', 'residence_since', 'credit_amount', 'existing_credits',
       'age_bins', 'agerange'],
      dtype='object')

In [41]:
datanew = datause[['count', 'class', 'agerange', 'age','gender', 'credit_history', 'checkacct','saveacct', 'num_dependents', 'housing', 'foreign_worker', 'employment',
       'job', 'residence_since', 'credit_amount', 'existing_credits']]

In [42]:
datanew.head(100)

,count,class,agerange,age,gender,credit_history,checkacct,saveacct,num_dependents,housing,foreign_worker,employment,job,residence_since,credit_amount,existing_credits
0,1,good,60,67,male,critical/other existing credit,yes,no,1,own,yes,employed,skilled,4,1169,2
1,1,bad,20,22,female,existing paid,yes,yes,1,own,yes,employed,skilled,2,5951,1
2,1,good,40,49,male,critical/other existing credit,no,yes,2,own,yes,employed,unskilled resident,3,2096,1
3,1,good,40,45,male,existing paid,yes,yes,2,for free,yes,employed,skilled,4,7882,1
4,1,bad,50,53,male,delayed previously,yes,yes,2,for free,yes,employed,skilled,4,4870,2
5,1,good,30,35,male,existing paid,no,no,2,for free,yes,employed,unskilled resident,4,9055,1
6,1,good,50,53,male,existing paid,no,yes,1,own,yes,employed,skilled,4,2835,1
7,1,good,30,35,male,existing paid,yes,yes,1,rent,yes,employed,high qualif/self emp/mgmt,2,6948,1
8,1,good,60,61,male,existing paid,no,yes,1,own,yes,employed,unskilled resident,4,3059,1
9,1,bad,20,28,male,critical/other existing credit,yes,yes,1,own,yes,unemployed,high qualif/self emp/mgmt,2,5234,2
10,1,bad,20,25,female,existing paid,yes,yes,1,rent,yes,employed,skilled,1,1295,1
11,1,bad,20,24,female,existing paid,yes,yes,1,rent,yes,employed,skilled,4,4308,1
12,1,good,20,22,female,existing paid,yes,yes,1,own,yes,employed,skilled,1,1567,1
13,1,bad,50,60,male,critical/other existing credit,yes,yes,1,own,yes,employed,unskilled resident,4,1199,2
14,1,good,20,28,female,existing paid,yes,yes,1,rent,yes,employed,skilled,4,1403,1
15,1,bad,30,32,female,existing paid,yes,yes,1,own,yes,employed,unskilled resident,2,1282,1
16,1,good,50,53,male,critical/other existing credit,no,no,1,own,yes,employed,skilled,4,2424,2
17,1,good,20,25,male,no credits/all paid,yes,no,1,own,yes,employed,skilled,3,8072,3
18,1,bad,40,44,female,existing paid,yes,yes,1,for free,yes,employed,high qualif/self emp/mgmt,2,12579,1
19,1,good,30,31,male,existing paid,no,yes,2,own,yes,employed,skilled,2,3430,1
20,1,good,40,48,male,critical/other existing credit,no,yes,1,own,yes,employed,skilled,4,2134,3
21,1,good,40,44,male,existing paid,yes,yes,2,rent,yes,employed,skilled,3,2647,1
22,1,good,40,48,male,critical/other existing credit,yes,yes,2,rent,no,employed,unskilled resident,3,2241,2
23,1,good,40,44,male,critical/other existing credit,yes,yes,1,own,yes,employed,skilled,4,1804,1
24,1,good,20,26,male,critical/other existing credit,no,no,1,own,no,employed,skilled,1,2069,2
25,1,good,30,36,male,existing paid,yes,yes,1,own,yes,employed,unskilled resident,2,1374,1
26,1,good,30,39,male,no credits/all paid,no,yes,1,own,yes,employed,unskilled resident,4,426,1
27,1,good,40,42,female,all paid,yes,yes,1,rent,yes,employed,skilled,3,409,2
28,1,good,30,34,male,existing paid,yes,yes,1,own,yes,employed,skilled,2,2415,1
29,1,bad,60,63,male,delayed previously,yes,yes,1,own,yes,employed,skilled,4,6836,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,good,20,30,female,existing paid,no,yes,1,own,yes,employed,skilled,2,8133,1
71,1,good,40,46,male,critical/other existing credit,no,no,1,rent,yes,employed,unskilled resident,2,730,2
72,1,good,50,51,male,critical/other existing credit,yes,yes,2,for free,yes,employed,high qualif/self emp/mgmt,4,1164,2
73,1,good,40,41,female,critical/other existing credit,yes,yes,1,own,yes,employed,unskilled resident,1,5954,2
74,1,bad,30,40,male,existing paid,yes,no,1,own,yes,employed,high qualif/self emp/mgmt,4,1977,1
75,1,good,60,66,male,critical/other existing credit,yes,yes,1,for free,yes,employed,high qualif/self emp/mgmt,4,1526,2
76,1,bad,30,34,male,existing paid,yes,yes,1,own,yes,employed,skilled,3,3965,1
77,1,good,50,51,male,delayed previously,yes,yes,1,own,yes,employed,skilled,4,4771,1
78,1,good,30,39,male,no credits/all paid,no,no,2,own,yes,employed,unskilled resident,2,9436,1
79,1,good,20,22,male,existing paid,yes,yes,1,own,yes,employed,skilled,1,3832,1
80,1,bad,40,44,female,existing paid,no,no,1,own,yes,employed,skilled,1,5943,2
81,1,good,40,47,male,existing paid,no,yes,1,own,yes,employed,skilled,3,1213,1
82,1,good,20,24,female,existing paid,no,yes,1,rent,yes,employed,unskilled resident,4,1568,1
83,1,good,50,58,female,existing paid,yes,yes,1,own,yes,employed,unskilled resident,4,1755,1
84,1,good,50,52,male,existing paid,yes,yes,1,own,yes,employed,unskilled resident,4,2315,1
85,1,good,20,29,female,critical/other existing credit,no,yes,1,own,yes,employed,high qualif/self emp/mgmt,2,1412,2
86,1,good,20,27,female,critical/other existing credit,yes,yes,1,own,yes,employed,skilled,1,1295,2
87,1,bad,40,47,male,existing paid,yes,yes,2,for free,yes,employed,skilled,4,12612,1
88,1,good,20,30,male,existing paid,yes,yes,2,own,yes,employed,high qualif/self emp/mgmt,3,2249,1
89,1,bad,20,28,male,no credits/all paid,yes,yes,1,own,yes,employed,skilled,3,1108,2
90,1,good,50,56,male,critical/other existing credit,no,yes,1,own,yes,employed,skilled,4,618,1
91,1,good,50,54,male,critical/other existing credit,yes,yes,1,own,yes,employed,skilled,3,1409,1
92,1,bad,30,33,female,critical/other existing credit,no,no,2,own,yes,employed,unskilled resident,3,797,1
93,1,good,NaN,20,male,critical/other existing credit,yes,no,1,rent,yes,employed,skilled,4,3617,2
94,1,good,50,54,male,existing paid,yes,yes,1,own,yes,employed,skilled,4,1318,1
95,1,bad,50,58,male,no credits/all paid,yes,yes,1,rent,yes,employed,skilled,4,15945,1
96,1,good,60,61,female,critical/other existing credit,no,no,1,own,yes,employed,skilled,2,2012,1
97,1,good,30,34,male,existing paid,yes,yes,1,own,yes,employed,skilled,4,2622,1
98,1,good,30,36,male,critical/other existing credit,yes,yes,1,own,yes,employed,skilled,4,2337,1
99,1,good,30,36,male,delayed previously,yes,no,2,rent,yes,employed,high qualif/self emp/mgmt,4,7057,2

In [43]:
datanew['job'].unique()

array(['skilled', 'unskilled resident', 'high qualif/self emp/mgmt',
       'unemp/unskilled non res'], dtype=object)

In [44]:
jobskill = []

for row in datanew.job:
    if row in ['skilled']:
        jobskill.append('skill')
    elif row in ['unskilled resident']:
        jobskill.append('unskill')
    elif row in ['high qualif/self emp/mgmt']:
        jobskill.append('high skill')        
        
    else:
        jobskill.append('unemployed')
        
datanew['jobskill'] = jobskill

In [45]:
datanew['jobskill'].unique()

array(['skill', 'unskill', 'high skill', 'unemployed'], dtype=object)

In [46]:
datanew = datanew[['count', 'class', 'agerange','age','gender', 'credit_history', 'checkacct','saveacct', 'num_dependents', 'housing', 'foreign_worker', 'employment',
       'jobskill', 'residence_since', 'credit_amount', 'existing_credits']]

In [47]:
datanew.head(100)

,count,class,agerange,age,gender,credit_history,checkacct,saveacct,num_dependents,housing,foreign_worker,employment,jobskill,residence_since,credit_amount,existing_credits
0,1,good,60,67,male,critical/other existing credit,yes,no,1,own,yes,employed,skill,4,1169,2
1,1,bad,20,22,female,existing paid,yes,yes,1,own,yes,employed,skill,2,5951,1
2,1,good,40,49,male,critical/other existing credit,no,yes,2,own,yes,employed,unskill,3,2096,1
3,1,good,40,45,male,existing paid,yes,yes,2,for free,yes,employed,skill,4,7882,1
4,1,bad,50,53,male,delayed previously,yes,yes,2,for free,yes,employed,skill,4,4870,2
5,1,good,30,35,male,existing paid,no,no,2,for free,yes,employed,unskill,4,9055,1
6,1,good,50,53,male,existing paid,no,yes,1,own,yes,employed,skill,4,2835,1
7,1,good,30,35,male,existing paid,yes,yes,1,rent,yes,employed,high skill,2,6948,1
8,1,good,60,61,male,existing paid,no,yes,1,own,yes,employed,unskill,4,3059,1
9,1,bad,20,28,male,critical/other existing credit,yes,yes,1,own,yes,unemployed,high skill,2,5234,2
10,1,bad,20,25,female,existing paid,yes,yes,1,rent,yes,employed,skill,1,1295,1
11,1,bad,20,24,female,existing paid,yes,yes,1,rent,yes,employed,skill,4,4308,1
12,1,good,20,22,female,existing paid,yes,yes,1,own,yes,employed,skill,1,1567,1
13,1,bad,50,60,male,critical/other existing credit,yes,yes,1,own,yes,employed,unskill,4,1199,2
14,1,good,20,28,female,existing paid,yes,yes,1,rent,yes,employed,skill,4,1403,1
15,1,bad,30,32,female,existing paid,yes,yes,1,own,yes,employed,unskill,2,1282,1
16,1,good,50,53,male,critical/other existing credit,no,no,1,own,yes,employed,skill,4,2424,2
17,1,good,20,25,male,no credits/all paid,yes,no,1,own,yes,employed,skill,3,8072,3
18,1,bad,40,44,female,existing paid,yes,yes,1,for free,yes,employed,high skill,2,12579,1
19,1,good,30,31,male,existing paid,no,yes,2,own,yes,employed,skill,2,3430,1
20,1,good,40,48,male,critical/other existing credit,no,yes,1,own,yes,employed,skill,4,2134,3
21,1,good,40,44,male,existing paid,yes,yes,2,rent,yes,employed,skill,3,2647,1
22,1,good,40,48,male,critical/other existing credit,yes,yes,2,rent,no,employed,unskill,3,2241,2
23,1,good,40,44,male,critical/other existing credit,yes,yes,1,own,yes,employed,skill,4,1804,1
24,1,good,20,26,male,critical/other existing credit,no,no,1,own,no,employed,skill,1,2069,2
25,1,good,30,36,male,existing paid,yes,yes,1,own,yes,employed,unskill,2,1374,1
26,1,good,30,39,male,no credits/all paid,no,yes,1,own,yes,employed,unskill,4,426,1
27,1,good,40,42,female,all paid,yes,yes,1,rent,yes,employed,skill,3,409,2
28,1,good,30,34,male,existing paid,yes,yes,1,own,yes,employed,skill,2,2415,1
29,1,bad,60,63,male,delayed previously,yes,yes,1,own,yes,employed,skill,4,6836,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,good,20,30,female,existing paid,no,yes,1,own,yes,employed,skill,2,8133,1
71,1,good,40,46,male,critical/other existing credit,no,no,1,rent,yes,employed,unskill,2,730,2
72,1,good,50,51,male,critical/other existing credit,yes,yes,2,for free,yes,employed,high skill,4,1164,2
73,1,good,40,41,female,critical/other existing credit,yes,yes,1,own,yes,employed,unskill,1,5954,2
74,1,bad,30,40,male,existing paid,yes,no,1,own,yes,employed,high skill,4,1977,1
75,1,good,60,66,male,critical/other existing credit,yes,yes,1,for free,yes,employed,high skill,4,1526,2
76,1,bad,30,34,male,existing paid,yes,yes,1,own,yes,employed,skill,3,3965,1
77,1,good,50,51,male,delayed previously,yes,yes,1,own,yes,employed,skill,4,4771,1
78,1,good,30,39,male,no credits/all paid,no,no,2,own,yes,employed,unskill,2,9436,1
79,1,good,20,22,male,existing paid,yes,yes,1,own,yes,employed,skill,1,3832,1
80,1,bad,40,44,female,existing paid,no,no,1,own,yes,employed,skill,1,5943,2
81,1,good,40,47,male,existing paid,no,yes,1,own,yes,employed,skill,3,1213,1
82,1,good,20,24,female,existing paid,no,yes,1,rent,yes,employed,unskill,4,1568,1
83,1,good,50,58,female,existing paid,yes,yes,1,own,yes,employed,unskill,4,1755,1
84,1,good,50,52,male,existing paid,yes,yes,1,own,yes,employed,unskill,4,2315,1
85,1,good,20,29,female,critical/other existing credit,no,yes,1,own,yes,employed,high skill,2,1412,2
86,1,good,20,27,female,critical/other existing credit,yes,yes,1,own,yes,employed,skill,1,1295,2
87,1,bad,40,47,male,existing paid,yes,yes,2,for free,yes,employed,skill,4,12612,1
88,1,good,20,30,male,existing paid,yes,yes,2,own,yes,employed,high skill,3,2249,1
89,1,bad,20,28,male,no credits/all paid,yes,yes,1,own,yes,employed,skill,3,1108,2
90,1,good,50,56,male,critical/other existing credit,no,yes,1,own,yes,employed,skill,4,618,1
91,1,good,50,54,male,critical/other existing credit,yes,yes,1,own,yes,employed,skill,3,1409,1
92,1,bad,30,33,female,critical/other existing credit,no,no,2,own,yes,employed,unskill,3,797,1
93,1,good,NaN,20,male,critical/other existing credit,yes,no,1,rent,yes,employed,skill,4,3617,2
94,1,good,50,54,male,existing paid,yes,yes,1,own,yes,employed,skill,4,1318,1
95,1,bad,50,58,male,no credits/all paid,yes,yes,1,rent,yes,employed,skill,4,15945,1
96,1,good,60,61,female,critical/other existing credit,no,no,1,own,yes,employed,skill,2,2012,1
97,1,good,30,34,male,existing paid,yes,yes,1,own,yes,employed,skill,4,2622,1
98,1,good,30,36,male,critical/other existing credit,yes,yes,1,own,yes,employed,skill,4,2337,1
99,1,good,30,36,male,delayed previously,yes,no,2,rent,yes,employed,high skill,4,7057,2

In [48]:
datanew['credit_amount'].unique()

array([ 1169,  5951,  2096,  7882,  4870,  9055,  2835,  6948,  3059,
        5234,  1295,  4308,  1567,  1199,  1403,  1282,  2424,  8072,
       12579,  3430,  2134,  2647,  2241,  1804,  2069,  1374,   426,
         409,  2415,  6836,  1913,  4020,  5866,  1264,  1474,  4746,
        6110,  2100,  1225,   458,  2333,  1158,  6204,  6187,  6143,
        1393,  2299,  1352,  7228,  2073,  5965,  1262,  3378,  2225,
         783,  6468,  9566,  1961,  6229,  1391,  1537,  1953, 14421,
        3181,  5190,  2171,  1007,  1819,  2394,  8133,   730,  1164,
        5954,  1977,  1526,  3965,  4771,  9436,  3832,  5943,  1213,
        1568,  1755,  2315,  1412, 12612,  2249,  1108,   618,  1409,
         797,  3617,  1318, 15945,  2012,  2622,  2337,  7057,  1469,
        2323,   932,  1919,  2445, 11938,  6458,  6078,  7721,  1410,
        1449,   392,  6260,  7855,  1680,  3578,  7174,  2132,  4281,
        2366,  1835,  3868,  1768,   781,  1924,  2121,   701,   639,
        1860,  3499,  8487,  6887,  2708,  1984, 10144,  1240,  8613,
         766,  2728,  1881,   709,  4795,  3416,  2462,  2288,  3566,
         860,   682,  5371,  1582,  1346,  5848,  7758,  6967,  1288,
         339,  3512,  1898,  2872,  1055,  7308,   909,  2978,  1131,
        1577,  3972,  1935,   950,   763,  2064,  1414,  3414,  7485,
        2577,   338,  1963,   571,  9572,  4455,  1647,  3777,   884,
        1360,  5129,  1175,   674,  3244,  4591,  3844,  3915,  2108,
        3031,  1501,  1382,   951,  2760,  4297,   936,  1168,  5117,
         902,  1495, 10623,  1424,  6568,  1413,  3074,  3835,  5293,
        1908,  3342,  3104,  3913,  3021,  1364,   625,  1200,   707,
        4657,  2613, 10961,  7865,  1478,  3149,  4210,  2507,  2141,
         866,  1544,  1823, 14555,  2767,  1291,  2522,   915,  1595,
        4605,  1185,  3447,  1258,   717,  1204,  1925,   433,   666,
        2251,  2150,  4151,  2030,  7418,  2684,  2149,  3812,  1154,
        1657,  1603,  5302,  2748,  1231,   802,  6304,  1533,  8978,
         999,  2662,  1402, 12169,  3060, 11998,  2697,  2404,  4611,
        1901,  3368,  1574,  1445,  1520,  3878, 10722,  4788,  7582,
        1092,  1024,  1076,  9398,  6419,  4796,  7629,  9960,  4675,
        1287,  2515,  2745,   672,  3804,  1344,  1038, 10127,  1543,
        4811,   727,  1237,   276,  5381,  5511,  3749,   685,  1494,
        2746,   708,  4351,  3643,  4249,  1938,  2910,  2659,  1028,
        3398,  5801,  1525,  4473,  1068,  6615,  1864,  7408, 11590,
        4110,  3384,  2101,  1275,  4169,  1521,  5743,  3599,  3213,
        4439,  3949,  1459,   882,  3758,  1743,  1136,  1236,   959,
        3229,  6199,  1246,  2331,  4463,   776,  2406,  1239,  3399,
        2247,  1766,  2473,  1542,  3850,  3650,  3446,  3001,  3079,
        6070,  2146, 13756, 14782,  7685,  2320,   846, 14318,   362,
        2212, 12976,  1283,  1330,  4272,  2238,  1126,  7374,  2326,
        1820,   983,  3249,  1957, 11760,  2578,  2348,  1223,  1516,
        1473,  1887,  8648,  2899,  2039,  2197,  1053,  3235,   939,
        1967,  7253,  2292,  1597,  1381,  5842,  2579,  8471,  2782,
        1042,  3186,  2028,   958,  1591,  2762,  2779,  2743,  1149,
        1313,  1190,  3448, 11328,  1872,  2058,  2136,  1484,   660,
        3394,   609,  1884,  1620,  2629,   719,  5096,  1244,  1842,
        2576,  1512, 11054,   518,  2759,  2670,  4817,  2679,  3905,
        3386,   343,  4594,  3620,  1721,  3017,   754,  1950,  2924,
        1659,  7238,  2764,  4679,  3092,   448,   654,  1238,  1245,
        3114,  2569,  5152,  1037,  3573,  1201,  3622,   960,  1163,
        1209,  3077,  3757,  1418,  3518,  1934,  8318,   368,  2122,
        2996,  9034,  1585,  1301,  1323,  3123,  5493,  1216,  1207,
        1309,  2360,  6850,  8588,   759,  4686,  2687,   585,  2255,
        1361,  7127,  1203,   700,  5507,  3190,  7119,  3488,  1113,
        7966,  1532,  1503,  2302,   662,  2273,  2631,  1311,  3105,
        2319,  3612,  7763,  3049,  1534,  2032,  6350,  2864,  1255,
        1333,  2022,  1552,   626,  8858,   996,  1750,  6999,  1995,
        1331,  2278,  5003,  3552,  1928,  2964,  1546,   683, 12389,
        4712,  1553,  1372,  3979,  6758,  3234,  5433,   806,  1082,
        2788,  2930,  1927,  2820,   937,  1056,  3124,  1388,  2384,
        2133,  2799,  1289,  1217,  2246,   385,  1965,  1572,  2718,
        1358,   931,  1442,  4241,  2775,  3863,  2329,   918,  1837,
        3349,  2828,  4526,  2671,  2051,  1300,   741,  3357,  3632,
        1808, 12204,  9157,  3676,  3441,   640,  3652,  1530,  3914,
        1858,  2600,  1979,  2116,  1437,  4042,  3660,  1444,  1980,
        1355,  1376, 15653,  1493,  4370,   750,  1308,  4623,  1851,
        1880,  7980,  4583,  1386,   947,   684,  7476,  1922,  2303,
        8086,  2346,  3973,   888, 10222,  4221,  6361,  1297,   900,
        1050,  1047,  6314,  3496,  3609,  4843,  4139,  5742, 10366,
        2080,  2580,  4530,  5150,  5595,  1453,  1538,  2279,  5103,
        9857,  6527,  1347,  2862,  2753,  3651,   975,  2896,  4716,
        2284,  1103,   926,  1800,  1905,  1123,  6331,  1377,  2503,
        2528,  5324,  6560,  2969,  1206,  2118,   629,  1198,  2476,
        1138, 14027,  7596,  1505,  3148,  6148,  1337,  1228,   790,
        2570,   250,  1316,  1882,  6416,  6403,  1987,   760,  2603,
        3380,  3990, 11560,  4380,  6761,  4280,  2325,  1048,  3160,
        2483, 14179,  1797,  2511,  1274,  5248,  3029,   428,   976,
         841,  5771,  1555,  1285,  1299,  1271,   691,  5045,  2124,
        2214, 12680,  2463,  1155,  3108,  2901,  1655,  2812,  8065,
        3275,  2223,  1480,  1371,  3535,  3509,  5711,  3872,  4933,
        1940,   836,  1941,  2675,  2751,  6224,  5998,  1188,  6313,
        1221,  2892,  3062,  2301,  7511,  1549,  1795,  7472,  9271,
         590,   930,  9283,  1778,   907,   484,  9629,  3051,  3931,
        7432,  1338,  1554, 15857,  1345,  1101,  3016,  2712,   731,
        3780,  1602,  3966,  4165,  8335,  6681,  2375, 11816,  5084,
        2327,   886,   601,  2957,  2611,  5179,  2993,  1943,  1559,
        3422,  3976,  1249,  2235,  1471, 10875,   894,  3343,  3959,
        3577,  5804,  2169,  2439,  2210,  2221,  2389,  3331,  7409,
         652,  7678,  1343,   874,  3590,  1322,  3595,  1422,  6742,
        7814,  9277,  2181,  1098,  4057,   795,  2825, 15672,  6614,
        7824,  2442,  1829,  5800,  8947,  2606,  1592,  2186,  4153,
        2625,  3485, 10477,  1278,  1107,  3763,  3711,  3594,  3195,
        4454,  4736,  2991,  2142,  3161, 18424,  2848, 14896,  2359,
        3345,  1817, 12749,  1366,  2002,  6872,   697,  1049, 10297,
        1867,  1747,  1670,  1224,   522,  1498,   745,  2063,  6288,
        6842,  3527,   929,  1455,  1845,  8358,  2859,  3621,  2145,
        4113, 10974,  1893,  3656,  4006,  3069,  1740,  2353,  3556,
        2397,   454,  1715,  2520,  3568,  7166,  3939,  1514,  7393,
        1193,  7297,  2831,   753,  2427,  2538,  8386,  4844,  2923,
        8229,  1433,  6289,  6579,  3565,  1569,  1936,  2390,  1736,
        3857,   804,  4576], dtype=int64)

In [49]:
datanew['credit_amount_bins'] = pd.cut(x=datanew['credit_amount'], bins=[250, 3972, 8000, 10424, 18424 ])

#datanew.describe()

In [50]:
datanew.head(6)

,count,class,agerange,age,gender,credit_history,checkacct,saveacct,num_dependents,housing,foreign_worker,employment,jobskill,residence_since,credit_amount,existing_credits,credit_amount_bins
0,1,good,60,67,male,critical/other existing credit,yes,no,1,own,yes,employed,skill,4,1169,2,"(250, 3972]"
1,1,bad,20,22,female,existing paid,yes,yes,1,own,yes,employed,skill,2,5951,1,"(3972, 8000]"
2,1,good,40,49,male,critical/other existing credit,no,yes,2,own,yes,employed,unskill,3,2096,1,"(250, 3972]"
3,1,good,40,45,male,existing paid,yes,yes,2,for free,yes,employed,skill,4,7882,1,"(3972, 8000]"
4,1,bad,50,53,male,delayed previously,yes,yes,2,for free,yes,employed,skill,4,4870,2,"(3972, 8000]"
5,1,good,30,35,male,existing paid,no,no,2,for free,yes,employed,unskill,4,9055,1,"(8000, 10424]"

In [51]:
datanew['credit_amount_bins'].unique()

[(250.0, 3972.0], (3972.0, 8000.0], (8000.0, 10424.0], (10424.0, 18424.0], NaN]
Categories (4, interval[int64]): [(250, 3972] < (3972, 8000] < (8000, 10424] < (10424, 18424]]

In [52]:
datanew['credit_amount_range'] = pd.cut(x=datanew['credit_amount'], bins=[250, 3972, 8000, 10424, 18424], labels=['low', 'mid', 'high', 'very-high'])

In [53]:
datanew['credit_amount_range'].unique()

[low, mid, high, very-high, NaN]
Categories (4, object): [low < mid < high < very-high]

In [54]:
datanew = datanew[['count', 'class', 'agerange',  'age','gender', 'credit_history', 'checkacct','saveacct', 'num_dependents', 'housing', 'foreign_worker', 'employment',
       'jobskill', 'residence_since', 'credit_amount', 'credit_amount_range', 'existing_credits']]

In [55]:
datanew.head(10)

,count,class,agerange,age,gender,credit_history,checkacct,saveacct,num_dependents,housing,foreign_worker,employment,jobskill,residence_since,credit_amount,credit_amount_range,existing_credits
0,1,good,60,67,male,critical/other existing credit,yes,no,1,own,yes,employed,skill,4,1169,low,2
1,1,bad,20,22,female,existing paid,yes,yes,1,own,yes,employed,skill,2,5951,mid,1
2,1,good,40,49,male,critical/other existing credit,no,yes,2,own,yes,employed,unskill,3,2096,low,1
3,1,good,40,45,male,existing paid,yes,yes,2,for free,yes,employed,skill,4,7882,mid,1
4,1,bad,50,53,male,delayed previously,yes,yes,2,for free,yes,employed,skill,4,4870,mid,2
5,1,good,30,35,male,existing paid,no,no,2,for free,yes,employed,unskill,4,9055,high,1
6,1,good,50,53,male,existing paid,no,yes,1,own,yes,employed,skill,4,2835,low,1
7,1,good,30,35,male,existing paid,yes,yes,1,rent,yes,employed,high skill,2,6948,mid,1
8,1,good,60,61,male,existing paid,no,yes,1,own,yes,employed,unskill,4,3059,low,1
9,1,bad,20,28,male,critical/other existing credit,yes,yes,1,own,yes,unemployed,high skill,2,5234,mid,2

In [56]:
datanew['num_dependents'].unique()

array([1, 2], dtype=int64)

In [57]:
datanew = datanew[['count', 'class', 'agerange', 'age', 'gender', 'credit_history', 'checkacct','saveacct', 'housing', 'foreign_worker', 'employment',
       'jobskill', 'residence_since', 'credit_amount_range', 'existing_credits']]

In [58]:
datanew.head(10)

,count,class,agerange,age,gender,credit_history,checkacct,saveacct,housing,foreign_worker,employment,jobskill,residence_since,credit_amount_range,existing_credits
0,1,good,60,67,male,critical/other existing credit,yes,no,own,yes,employed,skill,4,low,2
1,1,bad,20,22,female,existing paid,yes,yes,own,yes,employed,skill,2,mid,1
2,1,good,40,49,male,critical/other existing credit,no,yes,own,yes,employed,unskill,3,low,1
3,1,good,40,45,male,existing paid,yes,yes,for free,yes,employed,skill,4,mid,1
4,1,bad,50,53,male,delayed previously,yes,yes,for free,yes,employed,skill,4,mid,2
5,1,good,30,35,male,existing paid,no,no,for free,yes,employed,unskill,4,high,1
6,1,good,50,53,male,existing paid,no,yes,own,yes,employed,skill,4,low,1
7,1,good,30,35,male,existing paid,yes,yes,rent,yes,employed,high skill,2,mid,1
8,1,good,60,61,male,existing paid,no,yes,own,yes,employed,unskill,4,low,1
9,1,bad,20,28,male,critical/other existing credit,yes,yes,own,yes,unemployed,high skill,2,mid,2

In [59]:
datanew['credit_history'].unique()

array(['critical/other existing credit', 'existing paid',
       'delayed previously', 'no credits/all paid', 'all paid'],
      dtype=object)

In [60]:
datanew.isnull().any()  #we have nulls -- need to fix

count                  False
class                  False
agerange                True
age                    False
gender                 False
credit_history         False
checkacct              False
saveacct               False
housing                False
foreign_worker         False
employment             False
jobskill               False
residence_since        False
credit_amount_range     True
existing_credits       False
dtype: bool

In [61]:
datanew.isnull().sum()  #how many nulls per column

count                   0
class                   0
agerange               16
age                     0
gender                  0
credit_history          0
checkacct               0
saveacct                0
housing                 0
foreign_worker          0
employment              0
jobskill                0
residence_since         0
credit_amount_range     1
existing_credits        0
dtype: int64

In [62]:
dfage = datanew.groupby(['agerange'])

In [63]:
dfage.head(2)

,count,class,agerange,age,gender,credit_history,checkacct,saveacct,housing,foreign_worker,employment,jobskill,residence_since,credit_amount_range,existing_credits
0,1,good,60,67,male,critical/other existing credit,yes,no,own,yes,employed,skill,4,low,2
1,1,bad,20,22,female,existing paid,yes,yes,own,yes,employed,skill,2,mid,1
2,1,good,40,49,male,critical/other existing credit,no,yes,own,yes,employed,unskill,3,low,1
3,1,good,40,45,male,existing paid,yes,yes,for free,yes,employed,skill,4,mid,1
4,1,bad,50,53,male,delayed previously,yes,yes,for free,yes,employed,skill,4,mid,2
5,1,good,30,35,male,existing paid,no,no,for free,yes,employed,unskill,4,high,1
6,1,good,50,53,male,existing paid,no,yes,own,yes,employed,skill,4,low,1
7,1,good,30,35,male,existing paid,yes,yes,rent,yes,employed,high skill,2,mid,1
8,1,good,60,61,male,existing paid,no,yes,own,yes,employed,unskill,4,low,1
9,1,bad,20,28,male,critical/other existing credit,yes,yes,own,yes,unemployed,high skill,2,mid,2
93,1,good,NaN,20,male,critical/other existing credit,yes,no,rent,yes,employed,skill,4,low,2
155,1,bad,NaN,20,female,existing paid,yes,yes,rent,yes,employed,skill,4,low,1
186,1,bad,70,74,female,all paid,yes,yes,for free,yes,employed,high skill,4,mid,1
330,1,good,70,75,male,critical/other existing credit,yes,yes,for free,yes,unemployed,high skill,4,mid,2

In [64]:
#datanew['agerange'] = pd.to_numeric(datanew['agerange'])

In [65]:
datanew['agerange'].isnull().any()

True

In [66]:
#fix the nulls by copy one column to another

def fx(x):
    if pd.isnull(x['agerange']):
        return x['age']
    else:
        return x['agerange']

    print(datanew) 


datanew['agerange'] = datanew.apply(lambda x : fx(x), axis = 1)

print(datanew)

     count class agerange  age  gender                  credit_history  \
0        1  good       60   67    male  critical/other existing credit
1        1   bad       20   22  female                   existing paid
2        1  good       40   49    male  critical/other existing credit
3        1  good       40   45    male                   existing paid
4        1   bad       50   53    male              delayed previously
5        1  good       30   35    male                   existing paid
6        1  good       50   53    male                   existing paid
7        1  good       30   35    male                   existing paid
8        1  good       60   61    male                   existing paid
9        1   bad       20   28    male  critical/other existing credit
10       1   bad       20   25  female                   existing paid
11       1   bad       20   24  female                   existing paid
12       1  good       20   22  female                   existing paid
13       1   bad       50   60    male  critical/other existing credit
14       1  good       20   28  female                   existing paid
15       1   bad       30   32  female                   existing paid
16       1  good       50   53    male  critical/other existing credit
17       1  good       20   25    male             no credits/all paid
18       1   bad       40   44  female                   existing paid
19       1  good       30   31    male                   existing paid
20       1  good       40   48    male  critical/other existing credit
21       1  good       40   44    male                   existing paid
22       1  good       40   48    male  critical/other existing credit
23       1  good       40   44    male  critical/other existing credit
24       1  good       20   26    male  critical/other existing credit
25       1  good       30   36    male                   existing paid
26       1  good       30   39    male             no credits/all paid
27       1  good       40   42  female                        all paid
28       1  good       30   34    male                   existing paid
29       1   bad       60   63    male              delayed previously
..     ...   ...      ...  ...     ...                             ...
970      1  good       20   22    male                   existing paid
971      1  good       40   43    male                   existing paid
972      1   bad       20   29  female                        all paid
973      1   bad       30   36    male                   existing paid
974      1  good       30   33  female  critical/other existing credit
975      1  good       50   57  female                   existing paid
976      1  good       60   64  female                   existing paid
977      1  good       40   42    male              delayed previously
978      1   bad       40   47    male              delayed previously
979      1   bad       20   25    male                        all paid
980      1   bad       40   49    male  critical/other existing credit
981      1   bad       30   33    male                   existing paid
982      1  good       20   28  female                   existing paid
983      1   bad       20   26    male                   existing paid
984      1  good       20   30    male  critical/other existing credit
985      1  good       20   25  female  critical/other existing credit
986      1  good       30   33    male             no credits/all paid
987      1  good       60   64  female                   existing paid
988      1  good       20   29    male                   existing paid
989      1  good       40   48    male  critical/other existing credit
990      1  good       30   37    male  critical/other existing credit
991      1  good       30   34    male                        all paid
992      1  good       20   23    male                   existing paid
993      1  good       20   30    male                   existing paid
994      1  good       40   50    male                   existing paid
995      1  good       30   31  female                   existing paid
996      1  good       30   40    male                   existing paid
997      1  good       30   38    male                   existing paid
998      1   bad       20   23    male                   existing paid
999      1  good       20   27    male  critical/other existing credit

    checkacct saveacct   housing foreign_worker  employment    jobskill  \
0         yes       no       own            yes    employed       skill
1         yes      yes       own            yes    employed       skill
2          no      yes       own            yes    employed     unskill
3         yes      yes  for free            yes    employed       skill
4         yes      yes  for free            yes    employed       skill
5          no       no  for free            yes    employed     unskill
6          no      yes       own            yes    employed       skill
7         yes      yes      rent            yes    employed  high skill
8          no      yes       own            yes    employed     unskill
9         yes      yes       own            yes  unemployed  high skill
10        yes      yes      rent            yes    employed       skill
11        yes      yes      rent            yes    employed       skill
12        yes      yes       own            yes    employed       skill
13        yes      yes       own            yes    employed     unskill
14        yes      yes      rent            yes    employed       skill
15        yes      yes       own            yes    employed     unskill
16         no       no       own            yes    employed       skill
17        yes       no       own            yes    employed       skill
18        yes      yes  for free            yes    employed  high skill
19         no      yes       own            yes    employed       skill
20         no      yes       own            yes    employed       skill
21        yes      yes      rent            yes    employed       skill
22        yes      yes      rent             no    employed     unskill
23        yes      yes       own            yes    employed       skill
24         no       no       own             no    employed       skill
25        yes      yes       own            yes    employed     unskill
26         no      yes       own            yes    employed     unskill
27        yes      yes      rent            yes    employed       skill
28        yes      yes       own            yes    employed       skill
29        yes      yes       own            yes    employed       skill
..        ...      ...       ...            ...         ...         ...
970       yes      yes       own            yes    employed       skill
971        no      yes       own            yes    employed     unskill
972       yes      yes      rent            yes  unemployed  unemployed
973       yes      yes      rent            yes    employed       skill
974        no      yes       own            yes    employed       skill
975       yes      yes       own            yes    employed     unskill
976       yes      yes       own            yes    employed       skill
977       yes       no       own            yes    employed       skill
978        no      yes       own            yes    employed     unskill
979       yes      yes      rent            yes    employed       skill
980       yes      yes       own            yes    employed       skill
981        no      yes      rent            yes  unemployed  high skill
982       yes      yes       own            yes    employed  high skill
983       yes      yes       own            yes    employed       skill
984        no      yes       own            yes    employed     unskill
985       yes      yes      rent            yes    employed       skill
986       yes      yes       own            yes    employed       skill
987        no      yes       own            yes  unemployed       skill
988       yes      yes  for free            yes  unemployed  high skill
989       yes      yes       own            yes    employed     unskill
990        no       no       own            yes    employed     unskill
991        no      yes       own            yes    employed     unskill
992       yes       no      rent            yes    employed     unskill
993       yes      yes       own            yes  unemployed  high skill
994        no       no       own            yes    employed       skill
995        no      yes       own            yes    employed     unskill
996       yes      yes       own            yes    employed  high skill
997        no      yes       own            yes    employed       skill
998       yes      yes  for free            yes    employed       skill
999       yes      yes       own            yes  unemployed       skill

     residence_since credit_amount_range  existing_credits
0                  4                 low                 2
1                  2                 mid                 1
2                  3                 low                 1
3                  4                 mid                 1
4                  4                 mid                 2
5                  4                high                 1
6                  4                 low                 1
7                  2                 mid                 1
8                  4                 low                 1
9                  2                 mid                 2
10                 1                 low                 1
11                 4                 mid                 1
12                 1                 low                 1
13                 4                 low                 2
14                 4                 low                 1
15                 2                 low                 1
16                 4                 low                 2
17                 3                high                 3
18                 2           very-high                 1
19                 2                 low                 1
20                 4                 low                 3
21                 3                 low                 1
22                 3                 low                 2
23                 4                 low                 1
24                 1                 low                 2
25                 2                 low                 1
26                 4                 low                 1
27                 3                 low                 2
28                 2                 low                 1
29                 4                 mid                 2
..               ...                 ...               ...
970                2                 low                 1
971                4                 mid                 1
972                4                 low                 2
973                4                 mid                 1
974                2                 low                 1
975                3                 low                 1
976                3                 low                 1
977                2                 low                 2
978                4                 low                 2
979                2                 low                 1
980                2                high                 1
981                2                 mid                 1
982                1                 low                 1
983                2                high                 1
984                2                 low                 2
985                3                 low                 2
986                1                 mid                 2
987                4                 low                 1
988                2                 mid                 1
989                2                 low                 2
990                1                 low                 2
991                4                 low                 1
992                4                 low                 2
993                3                 low                 1
994                3                 low                 1
995                4                 low                 1
996                4                 low                 1
997                4                 low                 1
998                4                 low                 1
999                4                 mid                 1

[1000 rows x 15 columns]

In [67]:
datanew['agerange'].isnull().any()  #now fixed

False

In [68]:
datanew.head()

,count,class,agerange,age,gender,credit_history,checkacct,saveacct,housing,foreign_worker,employment,jobskill,residence_since,credit_amount_range,existing_credits
0,1,good,60,67,male,critical/other existing credit,yes,no,own,yes,employed,skill,4,low,2
1,1,bad,20,22,female,existing paid,yes,yes,own,yes,employed,skill,2,mid,1
2,1,good,40,49,male,critical/other existing credit,no,yes,own,yes,employed,unskill,3,low,1
3,1,good,40,45,male,existing paid,yes,yes,for free,yes,employed,skill,4,mid,1
4,1,bad,50,53,male,delayed previously,yes,yes,for free,yes,employed,skill,4,mid,2

In [69]:
datanew['credit_amount_range'].isnull().any()

True

In [70]:
datanew = datanew.dropna(axis=0)  #since it is one record, just delete

In [71]:
datanew['credit_amount_range'].isnull().any()

False

In [87]:
data.isnull().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
count                     0
dtype: int64

In [73]:
datanew['agerange'].unique()  #float - no good

array(['60', '20', '40', '50', '30', 20, '70', 19], dtype=object)

In [74]:
datanew.info(['agerange'])  #looking at the information

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 999
Data columns (total 15 columns):
count                  999 non-null int64
class                  999 non-null object
agerange               999 non-null object
age                    999 non-null int64
gender                 999 non-null object
credit_history         999 non-null object
checkacct              999 non-null object
saveacct               999 non-null object
housing                999 non-null object
foreign_worker         999 non-null object
employment             999 non-null object
jobskill               999 non-null object
residence_since        999 non-null int64
credit_amount_range    999 non-null category
existing_credits       999 non-null int64
dtypes: category(1), int64(4), object(10)
memory usage: 118.2+ KB

In [75]:
datanew['agerange'] = np.int64(datanew['agerange'])  #change float to int64

C:\Users\Naeemah\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [76]:
datanew.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 999
Data columns (total 15 columns):
count                  999 non-null int64
class                  999 non-null object
agerange               999 non-null int64
age                    999 non-null int64
gender                 999 non-null object
credit_history         999 non-null object
checkacct              999 non-null object
saveacct               999 non-null object
housing                999 non-null object
foreign_worker         999 non-null object
employment             999 non-null object
jobskill               999 non-null object
residence_since        999 non-null int64
credit_amount_range    999 non-null category
existing_credits       999 non-null int64
dtypes: category(1), int64(5), object(9)
memory usage: 118.2+ KB

In [84]:
datanew['target'] = ''  #for machine learning

C:\Users\Naeemah\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [83]:
datanew.columns

Index(['count', 'class', 'agerange', 'age', 'gender', 'credit_history',
       'checkacct', 'saveacct', 'housing', 'foreign_worker', 'employment',
       'jobskill', 'residence_since', 'credit_amount_range',
       'existing_credits', 'target'],
      dtype='object')

In [85]:
main = datanew[['count', 'class', 'agerange',  'gender', 'credit_history',
       'checkacct', 'saveacct', 'housing', 'foreign_worker', 'employment',
       'jobskill', 'residence_since', 'credit_amount_range',
       'existing_credits', 'target']]

In [86]:
main.columns

Index(['count', 'class', 'agerange', 'gender', 'credit_history', 'checkacct',
       'saveacct', 'housing', 'foreign_worker', 'employment', 'jobskill',
       'residence_since', 'credit_amount_range', 'existing_credits', 'target'],
      dtype='object')

In [79]:
main.groupby('class').sum()  

#grouping -- remember the counter 
#bad credit is 300
#good credit is 699

       count  agerange  residence_since  existing_credits
class
bad      300      8659              855               410
good     699     21569             1988               995

# Cleaning data finsh

In [88]:
main.describe()

       count    agerange  residence_since  existing_credits
count  999.0  999.000000       999.000000        999.000000
mean     1.0   30.258258         2.845846          1.406406
std      0.0   11.368106         1.103946          0.577639
min      1.0   19.000000         1.000000          1.000000
25%      1.0   20.000000         2.000000          1.000000
50%      1.0   30.000000         3.000000          1.000000
75%      1.0   40.000000         4.000000          2.000000
max      1.0   70.000000         4.000000          4.000000